body {
  background-color: #f2f2f2;
  /*overflow:hidden*/
  /* margin: 5%; */
}


.column-left {
  float: left;
  padding: 10px;
  width: 10%;
  text-align: center;
  margin: auto;
}

.column-right {
  float: left;
  padding: 10px;
  width: 90%;}

/* Clear floats after the columns */
.row {
    display: flex;
}

.pretty_container {
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}


.pretty_container .color-box {
    width: 50px;
    height: 100%;
    display: inline;
    box-shadow: 2px 2px 2px lightgrey;
    background-color: #f9f9f9;
    position: absolute;
    left: calc(100% - 50px);;
    top: 0;
}

.top_header{
    margin-right: 20px;

}
.graph{
    border-radius: 5px;
}

h2, p {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }